<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">
            <div class="template">
                <div class="inserisci-li">
                    <input type="text" v-model="nuovo_todo">
                    <button @click="aggiungiTodo" id="pulsante-nuovo-todo">aggiungi To-Do</button>
                </div>
                <ul id="lista_todo">
                    <li v-for="element in lista_todo">
                        {{ element }}
                    </li>
                </ul>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
